<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
    bootstrap="tests/phpunit/bootstrap.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
    failOnWarning="true"
    failOnRisky="true"
    failOnDeprecation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    requireCoverageMetadata="false"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/phpunit/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
